{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('login/css/login.css') }}" rel="stylesheet" />

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Login</h2>
                    </div>
                    <div class="card-body">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <form action="{{ path('app_login') }}" method="post">
                            <div class="form-group">
                                <label for="username">Email:</label>
                                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}">
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" id="password" name="_password" class="form-control">
                            </div>
                            <input type="hidden" name="_target_path" value="/board">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}